.footer
    background-color: $light-bg
    padding: 32px 0
    &__hero
        display: flex
        align-items: center
        justify-content: space-between
    &__logo
        display: flex
        align-items: center
        flex-basis: 20%
        &-img
        &-text
            color: $primary
            font-weight: 700
            font-size: 24px
            line-height: 140%
            text-transform: uppercase
    &__text
    &__btn
        padding: 9px 20px
        font-size: 30px
        &::after
            top: 0px
            bottom: 0px
            background: radial-gradient(89.12% 118.66% at 50.11% 0%, #B3E2CE 0%, #5F9A81 100%)
            transition: background .3s ease-in-out
        &::before
            transition: opacity .3s ease-in-out
            background: rgba(77, 121, 103, 0.6)
            filter: blur(10px)
            bottom: -20px
            top: 20px
            opacity: 0
        &:hover
            &::before
                opacity: 1
        &::active
            &::after
                background: radial-gradient(89.12% 118.66% at 50.11% 0%, #97BEAD 0%, #3E6253 100%)
    &__mobile-btn
        padding: 9px 20px
        font-size: 30px
        display: none

@media screen and (max-width: 1240px)
    .footer
        &__text
            font-size: 18px
        &__logo
            &-img
                width: 100px
            &-text
                font-size: 22px

@media screen and (max-width: 1024px)
    .footer
        &__btn
            display: none
        &__mobile-btn
            display: flex
            margin: auto
            margin-bottom: 16px

@media screen and (max-width: 768px)
    .footer
        &__logo
            &-img
                width: 80px
            &-text
                font-size: 18px
@media screen and (max-width: 500px)
    .footer
        &__hero
            flex-direction: column
        &__logo
            margin-bottom: 16px
        &__text
            text-align: center
@media screen and (max-width: 425px)
    .footer
        &__logo
            &-img
                width: 60px
            &-text
                font-size: 16px
@media screen and (max-width: 375px)
    .footer
        &__mobile-btn span
            font-size: 18px