.footer
    background-color: $light-bg
    &__hero
        padding: 32px 0
        display: flex
        align-items: center
        justify-content: space-between
    &__logo
        display: flex
        align-items: center
        flex-basis: 20%
        &-img
        &-text
            color: $primary
            font-weight: 700
            font-size: 24px
            line-height: 140%
            text-transform: uppercase
    &__text
        font-size: 24px
        line-height: 130%
    &__btn
        padding: 9px 20px
        font-size: 30px