$primary: #03A762

*
    box-sizing: border-box
    scroll-behavior: smooth
    margin: 0
    padding: 0
    font-family: 'Gotham Pro'
    font-style: normal
ul
    list-style: none
.container
    max-width: 1240px
    margin: auto
    padding: 0 35px
.section
    position: relative
    width: 100%
.title
    font-family: 'Colus'
    font-style: normal
    font-weight: 400
    font-size: 60px
    line-height: 125%
    letter-spacing: 0.03em
.btn
    position: relative
    appearance: none
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    border: none
    line-height: 120%
.primary-btn
    position: relative
    background: #0B6741
    border-radius: 48px
    color: #fff
    font-family: 'Colus'
    font-size: 32px
    line-height: 1.25
    z-index: 0
    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        bottom: 3px
        right: 0
        background: radial-gradient(50% 100% at 50% 0%, #62DBA8 0%, #097D4C 100%)
        border-radius: 56px
        z-index: -1