.head
    min-height: 100vh
    background: url('../assets/main-bg.png') no-repeat
    background-size: cover
    background-position-x: 100%
    background-position-y: 100%
    padding: 200px 0 100px
    display: flex
    flex-direction: column
    justify-content: center
    &__hero
    &__label
        width: fit-content
        box-shadow: inset 0px 5px 3px rgba(255, 255, 255, 0.15)
        filter: drop-shadow(0px 20px 80px #0D1709)
        backdrop-filter: blur(7.5px)
        border-radius: 70px
        padding: 13px 25px
        margin-bottom: 32px
        font-family: 'Colus'
        font-style: normal
        font-weight: 400
        font-size: 32px
        line-height: 1.25
        color: #fff
        background: url("../assets/head-label-bg.png") no-repeat
        background-size: 100% 100%
    &__title
        color: #fff
        margin-bottom: 32px
        & span
            font-family: 'Colus'
            color: $primary
    &__text
        max-width: 400px
        color: #FFFFFF
        margin-bottom: 32px
        & span
            color: $primary
            font-size: 32px
            font-weight: 700
    &__btns
        display: flex
        align-items: center
    &__order
        padding: 9px 36px
        margin-right: 28px
    &__consult
        position: relative
        background: rgba(255, 255, 255, 0.15)
        border-radius: 36px
        color: #292929
        font-weight: 700
        font-size: 18px
        padding: 18px 31px
        z-index: 0
        border: 1px solid transparent
        transition: border .1s ease-in
        &::before
            content: ""
            position: absolute
            top: 6px
            left: 6px
            bottom: 6px
            right: 6px
            background: rgba(255, 255, 255, 0.4)
            border: 1px solid #fff
            border-radius: 56px
            z-index: -1
            border-radius: 36px
            transition: border .1s ease-in
        &:hover
            border: 1px solid #fff
            &::before
                border: 1px solid transparent
        &:active
            border: 1px solid transparent
            &::before
                border: 1px solid transparent
                background: rgba(162, 162, 162, 0.4)
            

@media screen and (max-width: 1024px)
    .head
        &__label
            font-size: 28px
            margin-bottom: 28px
        &__title
            margin-bottom: 28px
        &__text span
            font-size: 28px
@media screen and (max-width: 768px)
    .head
        &__label
            font-size: 24px
            margin-bottom: 24px
        &__title
            margin-bottom: 24px
        &__text span
            font-size: 26px
@media screen and (max-width: 675px)
    .head
        padding: 150px 0 100px
        &__btns
            flex-direction: column
            align-items: flex-start
        &__order
            margin-right: 0
            margin-bottom: 14px
            min-width: 290px
@media screen and (max-width: 425px)
    .head
        padding: 120px 0 60px
        &__label
            font-size: 18px
            margin-bottom: 18px
        &__title
            margin-bottom: 18px
        &__text 
            margin-bottom: 18px
            & span
                font-size: 22px
        &__order
            min-width: 260px
        &__consult
            font-size: 16px
@media screen and (max-width: 350px)
    .head
        &__label
            font-size: 16px